.partner-container{
    width: 1200px;
    margin: auto;
    text-align: center;
    margin-bottom: 90px;
}

.partner-container .slick-prev:before, .slick-next:before {
    font-family: 'slick';
    font-size: 25px!important;
    line-height: 1;
    opacity: .75;
    color: black!important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-next:before{
    display: none!important;
}

.inner-partner-image{
    display: flex!important;
    justify-content: center!important;
}

.partner-container .slick-prev:before {
    font-family: 'slick';
    font-size: 40px!important;
    line-height: 1;
    opacity: .75;
    background: black!important;
    padding: 10px!important;
    color: white!important;
    -webkit-font-smoothing: antialiased;
    display: none!important;
}

@media(max-width:768px){
    .partner-container{
        width: 100%!important;
        margin: auto;
        text-align: center;
        margin-bottom: 90px;
    }

    .partner-container .slick-arrow .slick-next{
        margin-right: 70px!important;
    }

    .partner-container .slick-next {
        right: 50px!important;
      }
      .partner-container .slick-prev {
        left: 20px!important;
      }
      .partner-container .slick-prev::before {
        font-family: 'slick';
        font-size: 20px !important;
        line-height: 1;
        opacity: .75;
        background: black !important;
        padding: 10px !important;
        color: white !important;
        -webkit-font-smoothing: antialiased;
      }
}