.navbar-container{
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-weight: 900;
}

.navbar{
    width: 1200px!important;
    margin: auto;
}

@media(max-width:768px)
{
    .navbar{
        width: 100%!important;
        margin: auto;
    }
    .normal-case {
        text-transform: none;
        margin-left: 50px;
      }
    
}